*{
    margin: 0;
}
#navbar{
    width:100%;
    height:30px;
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
#data{
    width:100%;
    margin:20px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto,auto);
    gap:20px;
    text-align: center;
}
#data>div>img{
    width:100%;
}

#data>div{
    border:1px solid black;
}