body,html{
    padding: 0;
    margin:0;
    background-color: whitesmoke;
}

h1{
    text-align: center;
    padding: 1rem;
    color:white;
    background-color: black;
    margin-top: 0;
}
form{
    width: 30%;
    padding: 2rem;
    margin:1rem auto;
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 1rem;
}
input,select{
    height: 2.3rem;
    padding-left: 10px;
    border-radius: 1rem;
    border:1px solid black;
    margin-bottom: .4rem;
}
input:nth-child(5){
    width: 50%;
    margin-inline:auto;
}
#comment_modal{
    display: none;
    position: fixed;
    top:50vh;
    left:50vw;
    transform: translate(-50%,-50%);
    border:1px solid black;
    padding: 1.5rem;
    z-index: 2;
    background-color: lightblue;
}

#post_edit_modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    display: none;
    top:50vh;
    left:50vw;
    transform: translate(-50%,-50%);
    border:1px solid black;
    padding: 1.5rem;
    z-index: 2;
    background-color: lightblue;
}

#blogs__container{
    width: 50%;
    padding:1rem ;
    margin-inline: auto;
}
#blogs__container > div{
    border:1px solid black;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-image: linear-gradient(135deg,white,rgb(198, 84, 84),white);
}

#blogs__container > div>div{
    border:1px solid black;
    width: fit-content;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-image: linear-gradient(135deg,white,rgb(198, 84, 84),white);
}

.like_button{
    background-color: rgb(218, 55, 55);
    border:0px;
    padding: 10px 14px;
    border-radius: 10px;
    margin-right: 10px;
    color:white;
}

.comment_btn{
    background-color: rgb(39, 121, 39);
    border:0px;
    padding: 10px 14px;
    border-radius: 10px;
    margin-right: 10px;
    color:white;
}
#pagination{
    width: fit-content;
    margin-inline:auto; 
    margin-bottom: 2rem;
}
#pagination>button{
    border:0px;
    background-color: lightblue;
    padding: 1rem;
    border-radius: 10px ;
    margin-right: 10px;
}